body {
  margin: 0;
  padding: 0;
  font-family: "Poppins Medium";
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434343;
}

.top {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  width: 1145px;
  height: 54px;
  font-family: "Poppins Medium";
}

.left {
  display: flex;
  align-items: center;
}

.custom-select {
  border-right: 1px solid white;
  margin-right: 5px;
  padding-right: 5px;
}

.custom-select:last-child {
  border-right: none;
}

select {
  font-family: "Poppins Medium";
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
}

select:focus,
select:hover {
  outline: none;
  background: #d58e32;
  transition: all 0.2s;
}

option {
  background: #434343;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.right div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.7rem;
  color: #ffffff;
  cursor: pointer;
}

.right i {
  padding-left: 0.4rem;
}

.bars {
  padding-right: 0;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}

.middle {
  display: flex;
  justify-content: space-between;
  width: 1145px;
  height: 145px;
  color: #ffffff;
  font-family: "Poppins Medium";
  letter-spacing: 0.075rem;
  padding: 0 10px;
}

.middle div {
  align-self: center;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone p {
  font-size: 1.1rem;
}
.phone i {
  font-size: 32px;
  color: #d58e32;
}

.buy {
  display: flex;
  align-items: center;
}

.buy p {
  background-color: #363636;
  font-size: 1.1rem;
  margin-left: -10px;
  border-radius: 35px 0 0 35px;
  padding-left: 5px;
}

.buy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d58e32;
  width: 51px;
  height: 51px;
  border-radius: 4px;
  margin-right: 4px;
  color: #ffffff;
  font-size: 1.4rem;
}

nav {
  display: flex;
  justify-content: center;
  min-height: 85px;
  box-shadow: 0 4px 6px rgba(1, 2, 2, 0.2);
}

.nav-container {
  width: 1145px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  margin: 10px 0;
}

.categories {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categories p {
  margin: 0 5px;
  cursor: pointer;
}

.categories i {
  font-size: 1.75rem;
  color: #d58e32;
}

.searching {
  border: 1px solid black;
  border-left: none;
  display: flex;
  align-items: center;
}

.searching i {
  cursor: pointer;
  padding: 5px;
  font-size: 1.75rem;
  color: #d58e32;
}

input {
  max-width: 150px;
  padding: 5px;
  font-size: 1.75rem;
  outline: none;
  border: none;
}

.menu {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu p {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0 5px;
  color: #383838;
  font-family: "Poppins Semibold";
}
.menu p:hover {
  background-color: #d58e32;
  transition: all 0.4s;
}

main {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1145px;
  padding: 0 10px;
}

.advertising {
  min-height: 1145px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 30px;
  margin: 0;
}

.hot-deals {
  max-width: 360px;
  grid-column: 1/3;
  grid-row: 1/6;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}

.top-deals {
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  background-color: #2a2a2a;
}

.top-deals p {
  line-height: 1.25;
  text-align: center;
  font-family: "Poppins Semibold";
  display: grid;
  justify-items: start;
  align-items: center;
  margin: 0;
  padding: 5%;
  color: #ffffff;
}

.scroll-deals {
  display: grid;
}

.scroll-deals ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0 5% 0 0;
}

.scroll-deals ul li {
  cursor: pointer;
  color: #e2e2e2;
  padding: 3.5px;
  display: inline;
  list-style: none;
}

.scroll-deals ul li:hover {
  color: #d58e32;
  transition: color 0.4s;
}

.center-deals {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 290px;
  background-color: #f4f5f7;
  padding: 0 7.7%;
}

.cart {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/5;
  grid-auto-flow: column;
  align-items: center;
  opacity: 0.4;
}

.cart i {
  cursor: pointer;
  color: #d58e32;
  padding: 0 5px 0 2px;
}

.cart p {
  cursor: pointer;
  line-height: 1.25;
  text-align: center;
  font-family: "Poppins Semibold";
  margin: 0;
  padding: 2px;
}

.time {
  display: grid;
  align-items: center;
  margin: 0 3px 5px 0;
  background-color: #2a2a2a;
  opacity: 0.9;
  border-radius: 50%;
  font-family: "Poppins Semibold";
  color: #ffffff;
  overflow: hidden;
}

.time p {
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  margin: 0 2px;
}

.time p span {
  font-size: 0.85rem;
}

.days {
  grid-column: 1/2;
  grid-row: 4/5;
}

.hours {
  grid-column: 2/3;
  grid-row: 4/5;
}

.minutes {
  grid-column: 3/4;
  grid-row: 4/5;
}

.seconds {
  grid-column: 4/5;
  grid-row: 4/5;
}

.footer-deals {
  margin: 0 17px 0 17px;
  display: grid;
  justify-content: space-between;
}

#deals-name {
  font-family: "Poppins Semibold";
  margin: 14px 0;
  text-align: center;
  grid-column: 1/3;
}

.raiting {
  font-size: 1rem;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  grid-column: 1/3;
  border-bottom: 1px solid black;
}

.raiting input {
  display: none;
}

label {
  color: #cccccc;
  margin-right: 3px;
  transition: all 0.2s ease;
}

.raiting input ~ label:hover,
.raiting input ~ label:hover ~ label {
  color: #d58e32;
}

.footer-deals input:not(:checked) ~ label:hover,
.footer-deals input:not(:checked) ~ label:hover ~ label {
  color: #d58e32;
}

.footer-deals input:checked ~ label {
  color: #d58e32;
}

.footer-deals input#bet-5:checked ~ label {
  color: #d5a932;
  text-shadow: 0 0 5px #ffec3e;
}

.star-raiting {
  cursor: pointer;
}

.options-menu {
  grid-column: 1/2;
  display: grid;
  grid-auto-flow: column;
}

.options-menu div {
  cursor: pointer;
}

.options-menu div:hover {
  background-color: #d58e32;
  color: white;
  transition: all 0.4s;
}

.option {
  margin: 17px 3px 17px 3px;
  padding: 9px 9px;
  border: 1px solid #2a2a2a;
}

.option:first-child {
  margin: 17px 3px 17px 0px;
}

.option:last-child {
  margin: 17px 0px 17px 3px;
}

.priсe {
  grid-column: 2/3;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-self: center;
}

.priсe p {
  border-radius: 2px;
  padding: 5px 4px;
  background-color: #2a2a2a;
  font-family: "Poppins Semibold";
  margin: 0;
  color: #d58e32;
  cursor: pointer;
}

.priсe p:hover {
  background-color: #d58e32;
  transition: all 0.4s;
  color: white;
}

#sale {
  padding: 0 3px 0 3px;
  font-family: Poppins Medium;
  text-decoration: line-through;
  color: #a5a5a5;
  background-color: white;
  cursor: auto;
}

.shop-now {
  background-color: #cccccc;
  grid-column: 3/-1;
  grid-row: 1/6;

  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.padding-top {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #cccccc;
}

.information {
  grid-column: 1/2;
  grid-row: 3/7;
  background-color: #666666;
}

.information p:first-child {
  margin: 77px 0 0 0;
  color: white;
  text-align: center;
  font-family: "Poppins Light";
  font-size: 54px;
}

.information p:first-child span {
  font-family: "Poppins Semibold";
}

.information p:last-child {
  margin: -10px 0 0 0;
  color: white;
  text-align: center;
  font-family: "Poppins Light";
  font-size: 22px;
  letter-spacing: 1px;
}

.shop-button {
  cursor: pointer;
  grid-row: 6/8;
  grid-column: 1/2;
  background-color: #ffffff;
  border-radius: 3px;
  justify-self: center;
  font-family: "Poppins Semibold";
  align-self: center;
  z-index: 1;
}

.shop-button:hover {
  background-color: #d58e32;
  color: white;
  transition: all 0.4s;
}

.shop-button p {
  margin: 22px 29px;
}

.padding-bottom {
  grid-column: 1/2;
  grid-row: 7/9;
  background-color: #cccccc;
}

.slider {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-column: 1/2;
  grid-row: 9/10;
  color: #ffffff;
  font-size: 20px;
  background-color: #cccccc;
}

.slider i {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider i:first-child {
  height: 39px;
  background-color: #2a2a2a;
}

.slider i:last-child {
  height: 39px;
  background-color: #2a2a2a;
}

.slider i:hover {
  color: black;
  font-size: 24px;
  background-color: #d58e32;
  transition: all 0.3s;
}

.benefits {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1/-1;
  grid-row: 6/8;
}

.benefits div {
  cursor: pointer;
  display: grid;
  border: 1px solid #b7b7b7;
}

.benefits div:hover {
  border: 1px solid #d58e32;
  transition: border 0.4s;
}

.benefits div:hover div {
  background-color: #d58e32;
  border: 1px solid #d58e32;
  transition: all 0.4s;
}

.benefits div:hover p {
  color: #d58e32;
  transition: color 0.4s;
}

.benefits div:hover i {
  color: white;
  transition: color 0.4s;
}

.shipping {
  margin: 40px 15px 0 0;
}

.shipping p {
  margin: 0;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.shipping p:nth-child(1) {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins Semibold";
}

.shipping p:nth-child(2) {
  margin-top: -30px;
  font-size: 20px;
  font-family: "Poppins Light";
}

.support {
  margin: 40px 15px 0 15px;
}
.support p {
  margin: 0;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.support p:nth-child(1) {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins Semibold";
}

.support p:nth-child(2) {
  margin-top: -30px;
  font-size: 20px;
  font-family: "Poppins Light";
}

.money-back {
  margin: 40px 15px 0 15px;
}

.money-back p {
  margin: 0;
  text-align: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.money-back p:nth-child(1) {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins Semibold";
}

.money-back p:nth-child(2) {
  margin-top: -30px;
  font-size: 20px;
  font-family: "Poppins Light";
}

.discount {
  margin: 40px 0 0 15px;
}

.discount p {
  margin: 0;
  text-align: center;
  justify-items: center;

  justify-content: center;
  justify-self: center;
}

.discount p:nth-child(1) {
  margin-top: 60px;
  font-size: 20px;
  font-family: "Poppins Semibold";
}

.discount p:nth-child(2) {
  margin-top: -30px;
  font-size: 20px;
  font-family: "Poppins Light";
}

.circle {
  position: absolute;
  background-color: white;
  margin-top: -40px;
  margin-left: 20px;
  display: grid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.circle div {
  border: 1px solid #b7b7b7;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 30px;
  justify-self: center;
  align-self: center;
}

.circle div i {
  justify-self: center;
  align-self: center;
}

.sofa {
  background-color: #6a6a6a;
  grid-column: 1/4;
  grid-row: 8/-1;
  display: grid;
}

.sofa div {
  background-color: #505050;
  margin: 33px;
  display: grid;
  grid-auto-flow: row;
  align-content: end;
  justify-content: start;
  justify-items: start;
}

.sofa div p {
  margin: 0 0 0 20px;
  color: #ffffff;
  font-family: "Poppins Medium";
}

.sofa div p:nth-child(1) {
  font-size: 25px;
}

.sofa div p:nth-child(2) {
  font-size: 44px;
}

.sofa div p:nth-child(3) {
  margin: 0 0 20px 20px;
  font-size: 36px;
  padding: 19px 14px;
  border: 5px solid #ffffff;
}

.chair {
  background-color: #e8edf7;
  grid-column: 4/-1;
  grid-row: 8/10;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
}

.chair p {
  margin: 0;
}

.chair p:nth-child(1) {
  font-size: 21px;
  color: #000000;
  font-family: "Poppins Medium";
}

.chair p:nth-child(1) span {
  font-family: "Poppins Semibold";
}

.chair p:nth-child(2) {
  letter-spacing: 2px;
  font-size: 12px;
  color: #000000;
  font-family: "Poppins Medium";
}
.chair p:nth-child(3) {
  font-size: 25px;
  color: #d58e32;
  font-family: "Poppins Medium";
}

.special {
  background-color: #fbf3f7;
  grid-column: 4/-1;
  grid-row: 10/-1;
  display: grid;
  justify-content: end;
  justify-items: end;
  align-content: center;
}

.special p {
  margin: 2px 25px;
  font-family: "Poppins Medium";
}

.special p:nth-child(1) {
  font-size: 20px;
  color: #d58e32;
  letter-spacing: 0.5px;
}

.special p:nth-child(1) span {
  font-size: 17.5px;
  font-family: "Poppins Semibold";
}

.special p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.news {
  min-height: 910px;
  margin: 0;
}

.furnitures {
  height: 30px;
  margin: 60px 0 30px 0;
  background-color: white;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.furnitures div:first-child {
  height: 30px;
  align-self: center;
  color: #d58e32;
  font-family: "Poppins Semibold";
  border-bottom: 3px solid #e2e2e2;
}

.furnitures div:first-child p {
  margin: 0;
}

.choice-furnitures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Poppins Medium";
}
.choice-furnitures p {
  margin: 0;
  border-bottom: 3px solid #e2e2e2;
  cursor: pointer;
  margin: 0;
  text-align: center;
}

.choice-furnitures p:hover {
  color: #d58e32;
  border-bottom: 3px solid #d58e32;
  transition: color 0.4s;
}

.scroll-furnitures {
  display: grid;
}

.scroll-furnitures ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  border-bottom: 3px solid #e2e2e2;
}

.scroll-furnitures ul li {
  background-color: white;
  cursor: pointer;
  color: #e2e2e2;
  padding: 0px 0 0 12px;
  list-style: none;
  border-bottom: 3px solid white;
}

.scroll-furnitures ul li:hover {
  color: #d58e32;
  transition: all 0.4s;
}

.propositions {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

.item {
  min-height: 410px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid #f4f5f7;
}

.item-picture {
  grid-row: 1/4;
  background-color: #f4f5f7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

.item-picture:hover .view {
  display: grid;
}
.item-picture:hover .add {
  display: grid;
}

.item-sale {
  grid-column: 1/3;
  text-align: center;
  color: white;
  justify-self: center;
}

.item-sale p {
  padding: 18px 5px 2px 5px;
  margin: -22px 0 0 0;
  background-color: black;
  border-radius: 50%;
  font-family: "Poppins Medium";
}

.view {
  grid-column: 1/2;
  margin: 0 0 0 11px;
  justify-self: start;
  align-self: end;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  display: none;
  cursor: pointer;
}

.view p {
  padding: 5px;
  margin: 0;
  font-family: "Poppins Medium";
}

.add {
  grid-column: 2/3;
  margin: -30px 11px 0 0;
  justify-self: end;
  align-self: end;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  display: none;
  cursor: pointer;
}

.add p {
  padding: 5px;
  margin: 0;
  font-family: "Poppins Medium";
}

.add p i {
  padding: 0 5px 0 0;
}

.item-information {
  grid-row: 4/6;
  background: white;
  margin: 0 17px 0 17px;
  display: grid;
  justify-content: space-between;
}

#item-name {
  font-family: "Poppins Semibold";
  margin: 14px 0;
  text-align: center;
  grid-column: 1/3;
}

#item-name:hover {
  color: #d58e32;
  transition: color 0.4s;
}

.item-menu {
  grid-column: 1/2;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.item-menu div {
  text-align: center;
  cursor: pointer;
}

.item-menu div:hover {
  background-color: #d58e32;
  color: white;
  transition: all 0.4s;
}

.items {
  max-height: 15px;
  max-width: 15px;
  margin: 17px 3px 17px 3px;
  padding: 9px 9px;
  border: 1px solid #2a2a2a;
}

.items:first-child {
  margin: 17px 3px 17px 0px;
}

.items:last-child {
  margin: 17px 0px 17px 3px;
}

.item-priсe {
  grid-column: 2/3;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-self: center;
}

.item-priсe p {
  text-align: center;
  border-radius: 2px;
  padding: 5px 4px;
  background-color: #2a2a2a;
  font-family: "Poppins Semibold";
  margin: 0;
  color: #d58e32;
  cursor: pointer;
}

.item-priсe p:hover {
  background-color: #d58e32;
  transition: all 0.4s;
  color: white;
}

#item-discount {
  padding: 0 3px 0 3px;
  font-family: "Poppins Medium";
  text-decoration: line-through;
  color: #a5a5a5;
  background-color: white;
  cursor: auto;
}

.gallery {
  margin: 60px 0;
  height: 603px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 29px;
  overflow: hidden;
}

.furniture-gallery {
  height: 603px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.name-gallery {
  max-height: 28px;
  grid-row: 1/2;
  border-bottom: 3px solid #e2e2e2;
  box-sizing: border-box;
  display: grid;
}

.name-gallery p {
  justify-self: start;
  font-family: "Poppins Semibold";
  color: #d58e32;
  margin: 0;
  border-bottom: 3px solid #e2e2e2;
}

.name-gallery p:hover {
  border-bottom: 3px solid #d58e32;
  cursor: pointer;
}

.img-gallery {
  grid-row: 2/9;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.menu-gallery {
  max-height: 42px;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-gallery p {
  display: grid;
  align-content: center;
  text-align: center;
  margin: 0;
  font-family: "Poppins Semibold";
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.menu-gallery p:last-child {
  border-right: none;
}

.menu-gallery p:hover {
  border-top: 3px solid #d58e32;
  border-bottom: none;
  color: #d58e32;
  cursor: pointer;
  background-color: #f4f5f7;
}

#img {
  grid-row: 2/11;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
  background-image: url("../img/Living-Room-Furniture.jpg");
  background-size: cover;
  transition: all 0.4s;
}

.img-menu {
  margin-left: 5px;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

.img-option {
  display: flex;
  margin: 7px 0;
}

.img-option i {
  height: 37px;
  width: 37px;
  line-height: 37px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 15px;
}

.img-option i .hidden-menu {
  align-self: center;
  display: grid;
  grid-column: 2/4;
}

.img-option p {
  visibility: hidden;
  line-height: 37px;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0 5px;
  height: 37px;
  font-family: "Poppins Medium";
  text-align: center;
  cursor: pointer;
}

.img-option i:hover {
  background: #d58e32;
  color: white;
}

#icon-1 i:hover + #revision {
  visibility: visible;
}

#icon-2 i:hover + #like {
  visibility: visible;
}

#icon-3 i:hover + #compare {
  visibility: visible;
}

#icon-4 i:hover + #to-cart {
  visibility: visible;
}

.img-deal {
  max-height: 106px;
  display: grid;
  grid-column: 4/7;
  align-self: end;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.21);
  border-radius: 2px;
}

.img-deal p {
  align-self: start;
  grid-row: 2/3;
  margin: 0;
  font-family: "Poppins Semibold";
}

.img-deal .raiting {
  border-bottom: none;
  padding: 0 0 15px 0;
}

.img-price {
  margin-top: -85px;
  color: white;
  padding: 20px 15px;
  background-color: rgba(89, 89, 89, 0.85);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.img-deal label {
  color: rgba(89, 89, 89, 0.85);
}

.img-price p:last-child {
  font-size: 0.85em;
  text-decoration: line-through;
}

.slider-gallery {
  grid-row: 9/11;
  border: 1px solid #e2e2e2;
}

.bedroom-bad {
  display: grid;
  background-color: #e8edf7;
  justify-content: start;
  align-content: start;
}

.bedroom-bad p:nth-child(1) {
  margin-top: 71px;
  margin-left: 62px;
  font-family: "Poppins Semibold";
  font-size: 12px;
}

.bedroom-bad p:nth-child(1) span {
  margin-left: 9px;
  font-size: 42px;
  font-family: "Poppins Semibold";
  color: #79ae30;
  justify-self: center;
  align-self: center;
}

.bedroom-bad p:nth-child(2) {
  margin: 0 0 0 64px;
  font-size: 34px;
  font-family: "Poppins Semibold";
  color: #d58e32;
  align-self: center;
}

.bedroom-bad p:nth-child(3) {
  margin-left: 62px;
  max-width: 80px;
  background-color: #79ae30;
  font-size: 10px;
  padding: 19px 28px;
  font-family: "Poppins Semibold";
  color: white;
  border-radius: 2px;
  font-size: 14px;
  margin: 26px 0 0 62px;
  cursor: pointer;
}

.slider-gallery {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 6px;
}

.img-container {
  width: 457px;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.slider-container {
  display: flex;
  transition: all 0.15s;
}

.button {
  min-width: 36px;
  height: 95px;
  background-color: #2a2a2a;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.button:hover {
  color: #d58e32;
  font-size: 1.2em;
}

.slider-img {
  background-color: #cccccc;
  cursor: pointer;
  min-width: 85px;
  height: 95px;
  margin-right: 8px;
}

.slider-img:nth-child(n + 7) {
  /* display: none; */
}

.slider-img:hover {
  margin-top: -8px;
  transition: all 0.15s;
}

.slider-img img {
  max-width: 100%;
  height: 100%;
}

.selected {
  margin-top: -8px;
}

.blog {
  min-height: 806px;
}

.latest-blog {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.name-blog {
  grid-column: 1/12;
  border-bottom: 3px solid #cccccc;
  align-self: start;
  font-size: 16px;
  box-sizing: border-box;
  max-height: 28px;
  display: grid;
}

.name-blog p {
  justify-self: start;
  margin: 0;
  font-family: "Poppins Semibold";
}

.name-blog p:hover {
  color: #d58e32;
  border-bottom: 3px solid #d58e32;
}

.scroll-blog {
  grid-column: 12/13;
  display: grid;
}

.scroll-blog ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  margin: -10px 0 0 0;
  padding: 0;
}

.scroll-blog ul li {
  cursor: pointer;
  color: #cccccc;
  padding: 6.5px;
  display: inline;
  list-style: none;
}

.scroll-blog ul li:last-child {
  padding-right: 0;
}
.scroll-blog ul li:hover {
  color: #d58e32;
  transition: color 0.4s;
}

.text-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  grid-gap: 30px;
}

.img-blog {
  height: 290px;
  background-color: #969696;
}

.content-blog {
  margin: -60px 30px 0 30px;
  background-color: white;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.content-blog p {
  margin: 0;
  font-family: "Poppins Medium";
  color: #676767;
}

.content-blog p:nth-child(1) {
  align-self: center;
  text-align: center;
}

.content-blog p:nth-child(1) i {
  margin-right: 0.5em;
}
.content-blog p:nth-child(2) {
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.content-blog p:nth-child(2) i {
  margin-right: 0.5em;
}
.content-blog p:nth-child(3) {
  align-self: center;
  grid-column: 1/3;
  cursor: pointer;
  font-family: "Poppins Semibold";
  margin: 10px 0;
}

.content-blog p:nth-child(3):hover {
  color: #d58e32;
  transition: all 0.2s;
}

.content-blog p:nth-child(4) {
  grid-column: 1/3;
  text-align: center;
}

.content-blog p:nth-child(5) {
  border-radius: 2px;
  grid-column: 1/3;
  color: white;
  padding: 13px 32px;
  background-color: black;
  align-self: center;
  cursor: pointer;
  margin: 20px 0;
}

.content-blog p:nth-child(5):hover {
  background-color: #d58e32;
  transition: all 0.2s;
}

.slider-brand {
  height: 141px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  display: grid;
  grid-template-columns: 33px repeat(6, 1fr) 33px;
  grid-gap: 30px;
}

.slider-button {
  margin: 24px 0;
  background-color: black;
  width: 33px;
  display: grid;
  justify-self: end;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  color: white;
}

.slider-button:hover {
  color: #d58e32;
  font-size: 1.2em;
}

.brand {
  margin: 24px 0;
  border: 1px solid #cccccc;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  border-radius: 2px;
}

.brand:hover {
  border: 1px solid #d58e32;
}

.feedback {
  margin-top: 30px;
  display: grid;
}

.text-feedback {
  text-align: center;
}

.text-feedback i {
  font-size: 1.5em;
}

.text-feedback p {
  font-family: "Poppins Medium";
  color: #676767;
  font-size: 0.8em;
}

.sign {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 60px;
}

.sign p {
  align-self: center;
  justify-self: start;
  margin: 0 0 0 10px;
  color: #676767;
  font-family: "Poppins Semibold";
}

.sign p span {
  font-family: "Poppins Medium";
}

.photo {
  background-color: #676767;
  width: 60px;
  height: 52px;
  border-radius: 4px;
  justify-self: end;
  align-self: center;
}

footer {
  height: 430px;
  display: flex;
  flex-direction: column;
}

.description-container {
  display: flex;
  justify-content: center;
  background: #363636;
}

.description {
  padding: 0 10px;
  width: 1145px;
  height: 335px;
}

.description-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-option:last-child {
  margin-top: 32px;
}

.footer-option p {
  color: #a9a9a9;
  font-family: "Poppins Light";
  margin: 10px 0;
  cursor: pointer;
}

.footer-option p:nth-child(1) {
  margin: 0;
  font-size: 1.3em;
  font-family: "Poppins Semibold";
  margin-bottom: 37px;
  color: white;
}

.copyright-container {
  display: flex;
  justify-content: center;
  background: #2a2a2a;
}

.payments {
  display: flex;
  left: 0;
  font-size: 2rem;
  color: #a9a9a9;
}

.payments i {
  margin-right: 5px;
}

.copyright {
  width: 1145px;
  padding: 0 10px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  margin: 0;
  color: #a9a9a9;
  font-family: "Poppins Light";
}
.copyright p i {
  font-size: 1.5em;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}
.copyright p i:hover {
  color: #d58e32;
}
.copyright p:nth-child(1) {
  justify-self: end;
}
